form{
  margin: 10px 0px;
  width: 70%;
}

.viewer{
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width:70%;
  overflow-y: auto;
  margin-bottom: 10px;
}

span{
  margin-top: 3px;
}

#chat2 .form-control {
  border-color: transparent;
  }
  
  #chat2 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .divider:after,
  .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  } 

  .chat-message{
    background-color: #f2f2f2;
    margin:2em 2em;
    padding:1em;
    max-height: 450px;
    overflow-y: auto;
    border-radius:25px;
    color:gray;
  }
  
  .message-right{
    background: #91fbff;
    border-radius: 25px;
    padding: .5em 1em !important;
    margin:1em;
    
  }
  
  .message-left{
    background: aliceblue;
    border-radius: 25px;
    padding: .5em 1em !important;
    margin:1em;
  
  }
  .message-text{
    font-size: 17px;
  }
  
  .message-icons{
    font-size: 25px;
    margin: 5px;
  }

  /* #root{
    background-color: #91fbff;
  } */
  .container{
    background-color: lightskyblue ;
  }